@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #0D0D0F !important;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}

